@charset "utf-8";
/* CSS Document */

/*+++++++++++ Media Query ++++++++++++++*/
/* -- mobile(start) -- */
@media screen and (max-width: 767px) {

	div.inner_wrap { width: 100%; max-width: 1180px; margin: 0 auto; }
	h2 { font-size: 1.25em; color: #234000; text-align: center; }
	a.arrow::after { content: ""; display: inline-block; width: 21px; height: 1em; margin-left: 10px; background: url("../images/ico_shortcut.png") no-repeat center center; }

	header { /*overflow: hidden;*/ position: fixed; left: 0; top: 0; z-index: 90; width: 100%; height: 60px; transition: height 0.3s; }
	header > div.main_bg { width: 100%; height: 60px; border-bottom: 1px solid #dadada; background: rgba(255, 255, 255, 0.95); }
	header > div.main_bg > div.inner_wrap { position: relative; height: 60px; }
	header > div.main_bg > div.inner_wrap > h1 { position: absolute; left: 10px; top: 17px; width: 120px; height: 25px; }
	header > div.main_bg > div.inner_wrap > h1 > a { display: block; width: 100%; height: 100%; background: url("../images/bg_header_logo.png") no-repeat; background-size: cover; font-size: 1px; text-indent: -99999em; }
	header > div.main_bg > div.inner_wrap > div.nav_bg { display: none; position: fixed; left: 0; top: 0; z-index: 98; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.7); }
	header > div.main_bg > div.inner_wrap > nav { overflow-y: scroll; display: block; position: fixed; right: 0; top: 0; z-index: 99; width: 78.125vw; height: 100vh; padding: 60px 0 20px 20px; background: #fff; transform: translateX(100%); transition: transform 0.3s; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > a { display: block; padding: 16px 0; border-bottom: 1px solid #bece9a; background: url("../images/btn_submenu_on.png") no-repeat 93% center; background-size: 16px 8px; transition: none; font-family: "NotoSansKR-Medium"; font-size: 1em; color: #234000; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > a.off { font-weight: bold; background: url("../images/btn_submenu_off.png") no-repeat 93% center; background-size: 16px 8px; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > ul { display: none; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > a.off + ul { border-bottom: 1px solid #bece9a; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > ul > li > a { display: block; width: 100%; padding: 15px 0px 15px 10px; font-size: 0.875em; color: #606d43; }
	header > div.main_bg > div.inner_wrap > button { overflow: hidden; display: block; position: absolute; right: 10px; top: 20px; z-index: 100; width: 26px; height: 20px; background: url("../images/btn_nav_menu.png") no-repeat; font-size: 1px; text-indent: -99999em; }
	header > div.main_bg > div.inner_wrap > button.off { background-position: -26px 0; }
	header > div.sub_bg { display: none; }

	footer { padding: 20px 0; background: #231f20; }
	footer > div.inner_wrap > ul { margin: 0 0 20px 0; text-align: center; }
	footer > div.inner_wrap > ul > li { display: inline-block; position: relative; padding: 0 10px; line-height: 1; font-size: 0.6875em; }
	footer > div.inner_wrap > ul > li > a { display: inline-block; color: #b1b1b1; }
	
	footer > div.inner_wrap > ul > li:last-child::after { display: none; }
	footer > div.inner_wrap > div.logo { display: none; }
	footer > div.inner_wrap > div.info { width: 100%; margin-bottom: 20px; padding: 0 20px; font-size: 0.6875em; color: #b1b1b1; text-align: center; }
	footer > div.inner_wrap > div.social { width: 100%; text-align: center; }
	footer > div.inner_wrap > div.social > a { overflow: hidden; display: inline-block; width: 24px; height: 24px; margin: 0 5px; background: url("../images/btn_footer_sns24.png") no-repeat; font-size: 1px; text-indent: -99999em; vertical-align: middle; }
	footer > div.inner_wrap > div.social > a:nth-of-type(1) { background-position: 0 0; }
	footer > div.inner_wrap > div.social > a:nth-of-type(2) { background-position: -24px 0; }
	footer > div.inner_wrap > div.social > a:nth-of-type(3) { background-position: -48px 0; }
	footer > div.inner_wrap > div.social > select { display: none; }

}
/* -- mobile(end) -- */

/*+++++++++++++++++++++++++*/

/* -- tablet(start) -- */
@media screen and (min-width: 768px) and (max-width: 1024px) {

	div.inner_wrap { width: 100%; max-width: 1180px; margin: 0 auto; }
	h2 { font-size: 1.625em; color: #234000; text-align: center; }
	a.arrow::after { content: ""; display: inline-block; width: 21px; height: 1em; margin-left: 10px; background: url("../images/ico_shortcut.png") no-repeat center center; }

	header { /*overflow: hidden;*/ position: fixed; left: 0; top: 0; z-index: 90; width: 100%; height: 80px; transition: height 0.3s; }
	header > div.main_bg { width: 100%; height: 80px; border-bottom: 1px solid #dadada; background: rgba(255, 255, 255, 0.95); }
	header > div.main_bg > div.inner_wrap { position: relative; height: 80px; }
	header > div.main_bg > div.inner_wrap > h1 { position: absolute; left: 20px; top: 22px; width: 173px; height: 36px; }
	header > div.main_bg > div.inner_wrap > h1 > a { display: block; width: 100%; height: 100%; background: url("../images/bg_header_logo.png") no-repeat; background-size: cover; font-size: 1px; text-indent: -99999em; }
	header > div.main_bg > div.inner_wrap > div.nav_bg { display: none; position: fixed; left: 0; top: 0; z-index: 98; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.7); }
	header > div.main_bg > div.inner_wrap > nav { overflow-y: scroll; display: block; position: fixed; right: 0; top: 0; z-index: 99; width: 78.125vw; height: 100vh; padding: 70px 0 30px 30px; background: #fff; transform: translateX(100%); transition: transform 0.3s; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > a { display: block; padding: 20px 0; border-bottom: 1px solid #bece9a; background: url("../images/btn_submenu_on.png") no-repeat 96% center; font-family: "NotoSansKR-Medium"; font-size: 1.125em; color: #234000; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > a.off { font-weight: bold; background: url("../images/btn_submenu_off.png") no-repeat 96% center; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > ul { display: none; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > a.off + ul { border-bottom: 1px solid #bece9a; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > ul > li > a { display: block; width: 100%; padding: 15px 0px 15px 10px; font-size: 0.875em; color: #606d43; }
	header > div.main_bg > div.inner_wrap > button { overflow: hidden; display: block; position: absolute; right: 20px; top: 30px; z-index: 100; width: 26px; height: 20px; background: url("../images/btn_nav_menu.png") no-repeat; font-size: 1px; text-indent: -99999em; }
	header > div.main_bg > div.inner_wrap > button.off { background-position: -26px 0; }
	header > div.sub_bg { display: none; }

	footer { padding: 30px 0; background: #231f20; }
	footer > div.inner_wrap > ul { margin: 0 0 30px 15px; }
	footer > div.inner_wrap > ul > li { display: inline-block; position: relative; padding: 0 15px; line-height: 1; font-size: 0.875em; }
	footer > div.inner_wrap > ul > li > a { display: inline-block; color: #b1b1b1; }
	footer > div.inner_wrap > ul > li::after { content: ""; display: block; position: absolute; right: 0; top: 1px; width: 1px; height: 1em; background: #b1b1b1; }
	footer > div.inner_wrap > ul > li:last-child::after { display: none; }
	footer > div.inner_wrap > div.logo { display: none; }
	footer > div.inner_wrap > div.info { float: left; width: 69.4011%; padding-left: 30px; font-size: 0.75em; color: #b1b1b1; vertical-align: middle; }
	footer > div.inner_wrap > div.social { float: right; width: 30.5989%; vertical-align: middle; }
	footer > div.inner_wrap > div.social > a { overflow: hidden; display: inline-block; width: 24px; height: 24px; margin-right: 10px; background: url("../images/btn_footer_sns24.png") no-repeat; font-size: 1px; text-indent: -99999em; vertical-align: middle; }
	footer > div.inner_wrap > div.social > a:nth-of-type(1) { background-position: 0 0; }
	footer > div.inner_wrap > div.social > a:nth-of-type(2) { background-position: -24px 0; }
	footer > div.inner_wrap > div.social > a:nth-of-type(3) { background-position: -48px 0; }
	footer > div.inner_wrap > div.social > select { width: 92px; padding: 4px 16px 4px 4px; background: #fff url("../images/ico_footer_arrow.png") no-repeat 95% center; font-size: 0.75em; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
	footer > div.inner_wrap > div.social > select::-ms-expand { display: none; }
	footer > div.inner_wrap > div.social > select:focus { outline: none; }

}
/* -- tablet(end) -- */

/*+++++++++++++++++++++++++*/

/* -- desktop(start) -- */
@media screen and (min-width: 1025px) {

	div.inner_wrap { width: 100%; max-width: 1180px; margin: 0 auto; }
	h2 { font-size: 2em; color: #234000; text-align: center; }
	a.arrow::after { content: ""; display: inline-block; width: 21px; height: 1em; margin-left: 10px; background: url("../images/ico_shortcut.png") no-repeat center center; }
	a.arrow:hover::after { animation-name: arrow_act; animation-duration: 0.7s; animation-iteration-count: infinite; }

	@keyframes arrow_act {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(10px);
		}
	}

	header { overflow: hidden; position: fixed; left: 0; top: 0; z-index: 90; width: 100%; height: 90px; transition: height 0.3s; }
	header.on { height: 280px; }
	header > div.main_bg { width: 100%; height: 90px; border-bottom: 1px solid #dadada; background: rgba(255, 255, 255, 0.95); }
	header > div.main_bg > div.inner_wrap { position: relative; height: 90px; }
	header > div.main_bg > div.inner_wrap > h1 { position: absolute; left: 0; top: 22px; width: 216px; height: 46px; }
	header > div.main_bg > div.inner_wrap > h1 > a { display: block; width: 100%; height: 100%; background: url("../images/bg_header_logo.png") no-repeat; background-size: cover; font-size: 1px; text-indent: -99999em; }
	header > div.main_bg > div.inner_wrap > div.nav_bg { display: none; }
	header > div.main_bg > div.inner_wrap > nav { float: right; }
	header > div.main_bg > div.inner_wrap > nav > ul > li { float: left; text-align: center; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > a { display: inline-block; height: 90px; padding: 0 40px; font-size: 1em; color: #234000; line-height: 90px; }
	header > div.main_bg > div.inner_wrap > nav > ul > li:hover > a { font-weight: bold; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > ul { padding: 15px 0; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > ul > li > a { display: block; width: 100%; padding: 10px 0; font-size: 0.875em; color: #606d43; }
	header > div.main_bg > div.inner_wrap > nav > ul > li > ul > li > a:hover { font-weight: bold; }
	header > div.main_bg > div.inner_wrap > button { display: none; }
	header > div.sub_bg { width: 100%; height: 190px; background: rgba(255, 255, 255, 0.8); }

	footer { padding: 30px 0; background: #231f20; }
	footer > div.inner_wrap > ul { margin: 0 0 25px 80px; }
	footer > div.inner_wrap > ul > li { display: inline-block; position: relative; padding: 0 20px; line-height: 1; font-size: 0.875em; }
	footer > div.inner_wrap > ul > li > a { display: inline-block; color: #b1b1b1; }
	footer > div.inner_wrap > ul > li::after { content: ""; display: block; position: absolute; right: 0; top: 1px; width: 1px; height: 1em; background: #b1b1b1; }
	footer > div.inner_wrap > ul > li:last-child::after { display: none; }
	footer > div.inner_wrap > div.logo { display: table-cell; width: 80px; text-align: center; vertical-align: middle; }
	footer > div.inner_wrap > div.info { display: table-cell; width: 880px; padding-left: 20px; font-size: 0.75em; color: #b1b1b1; vertical-align: middle; }
	footer > div.inner_wrap > div.social { display: table-cell; width: 220px; vertical-align: middle; }
	footer > div.inner_wrap > div.social > a { overflow: hidden; display: inline-block; width: 24px; height: 24px; margin-right: 10px; background: url("../images/btn_footer_sns24.png") no-repeat; font-size: 1px; text-indent: -99999em; vertical-align: middle; }
	footer > div.inner_wrap > div.social > a:nth-of-type(1) { background-position: 0 0; }
	footer > div.inner_wrap > div.social > a:nth-of-type(2) { background-position: -24px 0; }
	footer > div.inner_wrap > div.social > a:nth-of-type(3) { background-position: -48px 0; }
	footer > div.inner_wrap > div.social > a:nth-of-type(1):hover { background-position: -72px 0; }
	footer > div.inner_wrap > div.social > a:nth-of-type(2):hover { background-position: -96px 0; }
	footer > div.inner_wrap > div.social > a:nth-of-type(3):hover { background-position: -120px 0; }
	footer > div.inner_wrap > div.social > select { width: 92px; padding: 4px 16px 4px 4px; background: #fff url("../images/ico_footer_arrow.png") no-repeat 95% center; font-size: 0.75em; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
	footer > div.inner_wrap > div.social > select::-ms-expand { display: none; }
	footer > div.inner_wrap > div.social > select:focus { outline: none; }

}
/* -- desktop(end) -- */