@charset "utf-8";
/* CSS Document */

/* +++++++++++++++++++ Media Query +++++++++++++++++++ */
/* -- mobile(start) -- */
@media screen and (max-width: 767px) {

        section.sec_visual { overflow: hidden; position: relative; width: 100%; height: 260px; }
		section.sec_visual > div.img_v { position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: 100%; background: url("../images/bg_event_visual.jpg") no-repeat 35% center; background-size: cover; }
		section.sec_visual > div.img_v > div.info { display: inline-block; position: absolute; width: 100%; height: 200px; bottom: 0; z-index: 15; text-align: center; }
		section.sec_visual > div.img_v > div.info > h2 { font-size: 1.625em; font-weight: bold; color: #000; line-height: 200px; }

		section.btn_event { padding: 60px 0 60px; width: 100%;}
		section.btn_event > div.button_box {  overflow: hidden; text-align: center; }
		section.btn_event > div.button_box > a { display: inline-block; width: 120px; height: 34px; 
		font-size: 0.875em; color: #666; background: #efefef; line-height: 34px;}
		section.btn_event > div.button_box > a.start { margin-right: 20px;}
		section.btn_event > div.button_box > a.active { font-size: 0.875em; color: #efefef; background: #234000; }
		

		section.sec_event { width: 100%;}
		section.sec_event > div.inner_wrap { width: 100%; padding: 0 10px;}
		section.sec_event > div.inner_wrap > ul.event_01 {width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_01 > li { width: 100%; height: auto; margin-bottom: 60px;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.img {  width: 100%; height: auto;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info { width: 100%; border: 1px solid #aeb3a4;}
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_r > div.info { float: left;  text-align: right;}
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_r > div.img { float: left; }
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_l > div.img { float: right;}
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_l > div.info { float: right; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.img > img { width: 100%; height: 100%; object-fit: cover; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div.text_1{ width: 100%; height: 100%; padding: 10px;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div.text_2 { width: 100%; padding: 10px;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div { width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > p.title { margin-bottom: 10px; font-weight: bold; font-size: 1.125em; color: #234000; line-height: 1.2; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > p.desc  { margin-bottom: 12px; font-size: 0.875em; color: #868f74; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > p.desc > br { display: block;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > p.date  { display: none; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > a.view { display: inline-block; width: 140px; height: 32px; position: relative; font-size: 0.875em; background: #234000; color: #fff; line-height: 32px; text-align: center;}


		section.sec_event > div.inner_wrap > ul.event_02 { display: none; }
		section.sec_event > div.inner_wrap > ul.event_02 { width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_02 > li { width: 100%; height: auto; margin-bottom: 60px;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.img {  width: 100%; height: auto;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info { width: 100%; border: 1px solid #aeb3a4;}
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_r > div.info { float: left;  text-align: right;}
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_r > div.img { float: left; }
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_l > div.img { float: right;}
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_l > div.info { float: right; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.img > img { width: 100%; height: 100%; object-fit: cover; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div.text_1{ width: 100%; height: 100%; padding: 10px;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div.text_2 { width: 100%; padding: 10px;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div { width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > p.title { margin-bottom: 10px; font-weight: bold; font-size: 1.125em; color: #234000; line-height: 1.2; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > p.desc  { margin-bottom: 12px; font-size: 0.875em; color: #868f74; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > p.desc > br { display: none;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > p.date  { display: none; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > a.view { display: inline-block; width: 140px; height: 32px; position: relative; font-size: 0.875em; background: #666; color: #fff; line-height: 32px; text-align: center; cursor: inherit;}

		/*div.popupBg { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popupBox { display: none;  position: fixed; left: 50%; top: 50%; z-index: 111; width: 654px; height: auto; transform: translate(-50%, -50%);  }
		div.popupBox > img:nth-child(1) {  display: block; width: 297px; height: 400px; left: 50%; top: 50%; z-index: 111;}
		div.popupBox > button { display: block; position: absolute; z-index: 111; top: 1%; right: 1%; width: 25px; height: 25px; background:		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }*/
		
		div.popup_bg_01 {  display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_01 {  display: none;  position: fixed; left: 50%; top: 50%; z-index: 111; width: 297px; height: 400px; background: #fff; transform: translate(-50%, -50%); }
		div.popup_01 > img:nth-child(1) {  display: block; position: fixed; width: 297px; height: 400px; left: 50%; top: 55%; z-index: 111; transform: translate(-50%, -55%); }
		div.popup_01 > button { display: block; position: fixed; z-index: 111; top: 2%; right: 2.5%; width: 15px; height: 15px; background:
		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }

		div.popup_bg_02 { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_02{ display: none;  position: fixed; left: 50%; top: 50%; z-index: 111; width: 297px; height: 400px; background: #fff; transform: translate(-50%, -50%); }
		div.popup_02 > img:nth-child(1) { display: block; position: fixed; width: 297px; height: 400px; left: 50%; top: 55%; z-index: 111; transform: translate(-50%, -55%); }
		div.popup_02 > button { display: block; position: fixed; z-index: 111; top: 2%; right: 2.5%; width: 15px; height: 15px; background:
		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }


		div.popup_bg_03 { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_03{ display: none; position: fixed; left: 50%; top: 50%; z-index: 111; width: 297px; height: 400px; background: #fff; transform: translate(-50%, -50%); }
		div.popup_03 > img:nth-child(1) { display: block; overflow-y: scroll; position: fixed; width: 297px; height: 400px; left: 50%; top: 55%; z-index: 111; transform: translate(-50%, -55%); }
		div.popup_03 > button { display: block; position: fixed; z-index: 111; top: 2%; right: 2.5%; width: 15px; height: 15px; background:
		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }

		div.popup_bg_04 { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_04{ display: none;  position: fixed; left: 50%; top: 50%; z-index: 111; width: 297px; height: 400px; background: #fff; transform: translate(-50%, -50%); }
		div.popup_04 > img:nth-child(1) { display: block; position: fixed; width: 297px; height: 400px; left: 50%; top: 55%; z-index: 111; transform: translate(-50%, -55%); }
		div.popup_04 > button { display: block; position: fixed; z-index: 111; top: 2%; right: 2.5%; width: 15px; height: 15px; background:
		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }

	

	
}
/* -- mobile(end) -- */


/* ++++++++++++++++++++++++ */
/* -- tablet(start) -- */
@media screen and (min-width: 768px) and (max-width: 1024px) {

		section.sec_visual { overflow: hidden; position: relative; width: 100%; height: 280px; }
		section.sec_visual > div.img_v { position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: 100%; background: url("../images/bg_event_visual.jpg") no-repeat center center; background-size: cover; }
		section.sec_visual > div.img_v > div.info { display: inline-block; position: absolute; width: 100%; height: 200px; bottom: 0; z-index: 15; text-align: center; }
		section.sec_visual > div.img_v > div.info > h2 { font-size: 2.5em; font-weight: bold; color: #000; line-height: 200px; }
		
		section.btn_event { padding: 70px 40px 70px; width: 100%;}
		section.btn_event > div.button_box {  overflow: hidden; text-align: center; }
		section.btn_event > div.button_box > a { display: inline-block; width: 150px; height: 36px; 
		font-size: 0.938em; color: #666; background: #efefef; line-height: 36px;}
		section.btn_event > div.button_box > a.start { margin-right: 40px;} 
		section.btn_event > div.button_box > a.active {font-size: 0.938em; color: #efefef; background: #234000; }
		

		
		
		section.sec_event { width: 100%;}
		section.sec_event > div.inner_wrap {width: 100%; padding: 0 34px;}
		section.sec_event > div.inner_wrap > ul {width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_01 > li { width:100%; height: 250px; margin-bottom: 70px;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.img { width: 50%; height:250px;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info { width: 50%; height:250px; border: 1px solid #aeb3a4;}
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_r > div.info { float: left; padding: 40px 45px 40px 0px; text-align: right;}
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_r > div.img { float: left; }
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_l > div.img { float: right; }
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_l > div.info { float: right; padding: 40px 0px 40px 45px; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.img > img { width: 100%; height: 100%; object-fit: cover; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div.text_1{ width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div.text_2 { width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div { width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > p.title { margin-bottom: 15px; font-weight: bold; font-size: 1.438em; color: #234000; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > p.desc  { margin-bottom: 15px; font-size: 0.75em; color: #868f74; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > p.date  { display: none; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > a.view { display: inline-block; width: 150px; height: 36px; position: relative; font-size: 1em; background: #234000; color: #fff; line-height: 36px; text-align: center;}
		
		
		section.sec_event > div.inner_wrap > ul.event_02 { display: none; }
		section.sec_event > div.inner_wrap > ul.event_02 > li { width:100%; height: 250px; margin-bottom: 70px;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.img { width: 50%; height:250px;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info { width: 50%; height:250px; border: 1px solid #aeb3a4;}
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_r > div.info { float: left; padding: 40px 45px 40px 0px; text-align: right;}
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_r > div.img { float: left; }
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_l > div.img { float: right; }
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_l > div.info { float: right; padding: 40px 0px 40px 45px; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.img > img { width: 100%; height: 100%; object-fit: cover; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div.text_1{ width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div.text_2 { width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div { width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > p.title { margin-bottom: 15px; font-weight: bold; font-size: 1.438em; color: #234000; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > p.desc  { margin-bottom: 15px; font-size: 0.75em; color: #868f74; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > p.date  { display: none; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > a.view { display: inline-block; width: 150px; height: 36px; position: relative; font-size: 1em; background: #666; color: #fff; line-height: 36px; text-align: center; cursor: inherit;}


		div.popup_bg_01 {  display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_01{  display: none; overflow-y: scroll; position: fixed; left: 50%; top: 50%; z-index: 111; width: 600px; height: 826px; background: #fff; transform: translate(-50%, -50%); }
		div.popup_01 > img:nth-child(1) {  display: block;  position: fixed; width: 600px; height: 826px; left: 50%; top: 55%; z-index: 111; transform: translate(-50%, -55%); }
		div.popup_01 > button { display: block; position: fixed; z-index: 111; top: 2%; right: 2.5%; width: 30px; height: 30px; background:
		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }

		div.popup_bg_02 { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_02{ display: none; overflow-y: scroll; position: fixed; left: 50%; top: 50%; z-index: 111; width: 600px; height: 826px; background: #fff; transform: translate(-50%, -50%); }
		div.popup_02 > img:nth-child(1) { display: block;  position: fixed; width: 600px; height: 826px; left: 50%; top: 55%; z-index: 111; transform: translate(-50%, -55%); }
		div.popup_02 > button { display: block; position: fixed; z-index: 111; top: 2%; right: 2.5%; width: 30px; height: 30px; background:
		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }


		div.popup_bg_03 { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_03{ display: none; position: fixed; left: 50%; top: 50%; z-index: 111; width: 600px; height: 826px; background: #fff; transform: translate(-50%, -50%); }
		div.popup_03 > img:nth-child(1) { display: block;  position: fixed; width: 600px; height: 826px; left: 50%; top: 55%; z-index: 111; transform: translate(-50%, -55%); }
		div.popup_03 > button { display: block; position: fixed; z-index: 111; top: 2%; right: 2.5%; width: 30px; height: 30px; background:
		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }


		div.popup_bg_04 { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_04{ display: none;  position: fixed; left: 50%; top: 50%; z-index: 111; width: 600px; height: 826px; background: #fff; transform: translate(-50%, -50%); }
		div.popup_04 > img:nth-child(1) { display: block; position: fixed; width: 600px; height: 826px; left: 50%; top: 55%; z-index: 111; transform: translate(-50%, -55%); }
		div.popup_04 > button { display: block; position: fixed; z-index: 111; top: 2%; right: 2.5%; width: 30px; height: 30px; background:
		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }


}
/* -- tablet(end) -- */


/* +++++++++++++++++++++++++ */
/* -- desktop(start) -- */
@media screen and (min-width: 1025px) {
	
		section.sec_visual { overflow: hidden; position: relative; width: 100%; height: 390px; }
		section.sec_visual > div.img_v { position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: 100%; background: url("../images/bg_event_visual.jpg") no-repeat center center; background-size: cover; }
		section.sec_visual > div.img_v > div.info { display: inline-block; position: absolute; width: 100%; height: 300px; bottom: 0; z-index: 15; text-align: center; }
		section.sec_visual > div.img_v > div.info > h2 { top: 50%; font-size: 2.5em; font-weight: bold; color: #000; line-height: 300px; }

		section.btn_event { padding: 150px 20px;}
		section.btn_event > div.button_box { overflow: hidden; text-align: center;}
		section.btn_event > div.button_box > a { display: inline-block; width: 180px; height: 42px; 
		font-size: 0.938em; color: #666; background: #efefef; line-height: 42px;}
		section.btn_event > div.button_box > a.start { margin-right: 40px;}
		section.btn_event > div.button_box > a.active { background: #234000; font-size: 0.938em; color: #efefef;}
		section.btn_event > div.button_box > a:hover { display: inline-block; width: 180px; height: 42px; 
		font-size: 0.938em; color: #efefef; background: #234000; line-height: 42px; }
		
		section.sec_event > div.inner_wrap { padding:  10px; }
		section.sec_event > div.inner_wrap > ul {width:100%;}
		section.sec_event > div.inner_wrap > ul.event_01 > li { width: 100%; height: 400px; margin-bottom: 100px; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.img { width: 52%; height: 100%;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info { position: relative; width: 48%; height: 400px; border: 1px solid #aeb3a4; }
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_r > div.img { float: left; }
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_r > div.info { float: left; text-align: right; }
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_l > div.img { float: right;  }
		section.sec_event > div.inner_wrap > ul.event_01 > li.fl_l > div.info { float: right;  }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.img > img { width: 100%; height: 100%; object-fit: cover; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div.text_1{ position: absolute; top: 50%; width: 100%; margin-left: 60px; transform: translateY(-50%); }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div.text_2 { position: absolute; top: 50%; width: 100%; margin-left: -60px; transform: translateY(-50%); }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div { width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > p.title { margin-bottom: 30px; font-weight: bold; font-size: 1.875em; color: #234000; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > p.desc  { margin-bottom: 30px; font-size: 1em; color: #868f74; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > p.date  { margin-bottom: 30px; font-weight: bold; font-size: 1em; color: #234000; }
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > a.view { display: inline-block; width: 31.3440%; height: 44px; position: relative; font-size: 1em; background: #234000; color: #fff; line-height: 44px; text-align: center;}
		section.sec_event > div.inner_wrap > ul.event_01 > li > div.info > div > a.view:hover { background: transparent; border: 1px solid #234000; color: #234000;  }

		section.sec_event > div.inner_wrap > ul.event_02 { display: none;}
		section.sec_event > div.inner_wrap > ul.event_02 > li { width: 100%; height: 400px; margin-bottom: 100px; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.img { width: 52%; height: 100%;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info { position: relative; width: 48%; height: 400px; border: 1px solid #aeb3a4; }
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_r > div.img { float: left; }
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_r > div.info { float: left; text-align: right; }
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_l > div.img { float: right;  }
		section.sec_event > div.inner_wrap > ul.event_02 > li.fl_l > div.info { float: right;  }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.img > img { width: 100%; height: 100%; object-fit: cover; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div.text_1{ position: absolute; top: 50%; width: 100%; margin-left: 60px; transform: translateY(-50%); }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div.text_2 { position: absolute; top: 50%; width: 100%; margin-left: -60px; transform: translateY(-50%); }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div { width: 100%;}
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > p.title { margin-bottom: 30px; font-weight: bold; font-size: 1.875em; color: #234000; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > p.desc  { margin-bottom: 30px; font-size: 1em; color: #868f74; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > p.date  { margin-bottom: 30px; font-weight: bold; font-size: 1em; color: #234000; }
		section.sec_event > div.inner_wrap > ul.event_02 > li > div.info > div > a.view { display: inline-block; width: 31.3440%; height: 44px; position: relative; font-size: 1em; background: #666; color: #fff; line-height: 44px; text-align: center; cursor: inherit;}

		div.popupBg { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popupBox { display: none;  position: fixed; left: 50%; top: 50%; z-index: 111; width: 654px; height: auto; transform: translate(-50%, -50%);  }
		div.popupBox > img:nth-child(1) {  display: block; width: 654px; height: auto; left: 50%; top: 50%; z-index: 111;}
		div.popupBox > button { display: block; position: absolute; z-index: 111; top: 1%; right: -10%; width: 25px; height: 25px; background:		url("../images/btn_product_Close_w.png") no-repeat center center; text-indent: -99999em; }
		
		/*div.popup_bg_01 { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_01 { display: none;  position: fixed; left: 50%; top: 50%; z-index: 111; width: 654px; height: auto; transform: translate(-50%, -50%);  }
		div.popup_01 > img:nth-child(1) {  display: block; width: 654px; height: auto; left: 50%; top: 50%; z-index: 111;}
		div.popup_01 > button { display: block; position: absolute; z-index: 111; top: 2%; right: 2%; width: 30px; height: 30px; background:		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }
		

		div.popup_bg_02 { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_02{ display: none;  position: absolute; left: 50%; top: 50%; z-index: 111; width: 654px; height: auto; }
		div.popup_02 > img:nth-child(1) { display: block;  position: fixed; width: 654px; height: auto; left: 50%; z-index: 111; transform: translateX(-50%); }
		div.popup_02 > button { display: block; position: absolute; z-index: 111; top: 2%; right: 2%; width: 30px; height: 30px; background:		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }



		div.popup_bg_03 { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_03{ display: none;  position: absolute; left: 50%; top: 50%; z-index: 111; width: 654px; height: auto; }
		div.popup_03 > img:nth-child(1) { display: block;  position: fixed; width: 654px; height: auto; left: 50%;  z-index: 111; transform: translate(-50%, -50%); }
		div.popup_03 > button { display: block; position: fixed; z-index: 111; top: 4%; right: 30.5%; width: 30px; height: 30px; background: url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }

		div.popup_bg_04 { display: none; position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
		div.popup_04{ display: none;  position: absolute; left: 50%; top: 50%; z-index: 111; width: 654px; height: auto; transform: translate(-50%, -50%); }
		div.popup_04 > img:nth-child(1) { display: block; position: fixed; width: 654px; height: auto; left: 50%;  z-index: 111; transform: translate(-50%, -50%); }
		div.popup_04 > button { display: block; position: fixed; z-index: 111; top: 4%; right: 31%; width: 30px; height: 30px; background:		url("../images/btn_product_Close.png") no-repeat center center; text-indent: -99999em; }*/
		
		


}
/* -- desktop(end) -- */